body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #464646;
  font-family: monospace;
  background-image: url('https://wallpaperaccess.com/full/4145264.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3{
  animation: 3s infinite alternate slidein;

}
